.main-nav {
    height: 60px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(111, 111, 255);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    height: inherit;
}

ul {
    display: flex;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.link-items {
    display: flex;
    align-items: center;
}

.nav-items {
    color: white;
    font-size: 15px;
    margin-left: 15px;
    border: none;
}

.nav-items:hover {
    box-shadow: none;
}

.navButton {
    background-color: white;
    margin-left: 15px;
    padding: 5px 15px;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(111, 111, 255);
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
}

.line {
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    margin-bottom: 4px;
    transition: .4s;
}