.mobileNav-container {
    width: 80%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    left: 0;
    top: 0;
    bottom: 0;
    padding-left: 40px;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    height: inherit;
    text-align: center;
    padding-top: 70px;
}

.cancel-button {
    background-color: tomato;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    flex-wrap: unset;
    color: white
}

.mobileNav li {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
}

.mobileNav button {
    background-color: rgb(111, 111, 255);
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 25px;
    width: 80px;
}
