@import "tailwindcss";

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(white ,rgb(111, 111, 255));
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}